[maxscale]
threads=auto
admin_host=0.0.0.0
admin_port=8989
admin_secure_gui=false

[server1]
type=server
address=mariadb-primary
port=3306
protocol=MariaDBBackend

[server2]
type=server
address=mariadb-replica
port=3306
protocol=MariaDBBackend

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=server1,server2
user=maxscale_monitor
password=__MAXSCALE_MONITOR_PASSWORD__
monitor_interval=2000ms
auto_failover=true
auto_rejoin=true

[RW-Service]
type=service
router=readwritesplit
servers=server1,server2
user=maxscale
password=__MAXSCALE_PASSWORD__

[RW-Listener]
type=listener
service=RW-Service
protocol=MariaDBClient
port=3306
