[mysqld]
server_id=2
bind-address=0.0.0.0

log_bin=/var/lib/mysql/mysql-bin
log_basename=replica1
relay_log=/var/lib/mysql/relay-bin
binlog_format=ROW

gtid_strict_mode=ON
log_slave_updates=ON
read_only=ON

skip_name_resolve=ON

character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

log_error=/var/log/mysql/error.log
